<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered table-hover table table-dark">
        <thead>
          <tr>
            <td>n°</td>
            <td>Nombre del area</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <td><%= (i + 1) %></td>
                <td><%= data[i].NombreArea %></td>
                <td>
                  <a href="/update_area/<%= data[i].CodArea %>" class="btn btn-info "> <i class="fas fa-user-edit "></i></a>
                  <a href="/delete_area/<%= data[i].CodArea %>" class="btn btn-danger"> <i class="fas fa-trash-alt"></i></a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <div class="card-body">

        <form action="/add_area" method="POST">
          <div class="form-group">
            <input type="text" name="NombreArea" placeholder="Nombre del area" class="form-control" autofocus>
          </div>
          <button type="submit" class="btn btn-primary">
            Registrar Area
          </button>
        </form>
      </div>
    </div>
  </div>
</div>



<% include partials/_footer %>
